amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
certifi==2019.3.9
chardet==3.0.4
defusedxml==0.6.0
dj-database-url==0.4.1
Django==1.11.23
django-bootstrap3==11.0.0
django-oauth-toolkit==1.1.0
django-rest-framework-social-oauth2==1.0.4
djangorestframework==3.9.4
gunicorn==19.6.0
idna==2.8
kombu==3.0.37
oauthlib==3.0.1
pkg-resources==0.0.0
PyJWT==1.7.1
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2019.1
requests==2.21.0
requests-oauthlib==1.2.0
six==1.12.0
social-auth-core==3.1.0
urllib3==1.24.3
whitenoise==3.2.1
